<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Trabalho AV2</title>
    </head>
    <body>
        Lucas Dias Fidalgo Zogaib<br>
        Matrícula: 2020022127503<br>
        Pedro Migowski Castello Branco E Silva<br>
        Matrícula: 202002214571</br>
    </body>
</html>
